
.section-unleash {
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    padding-top: 92px;

    &__banner {
        min-height: 800px;
        flex-shrink: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding-bottom: 119px;        
        
        @media (max-width: 1200px) {
            padding-bottom: 130px;            
        }
        
        @media (max-width: 768px) {
            padding-bottom: 149px;       
        }
        
    
        .section-unleash__banner-title {
            color: #fff;
            font-family: 'DynaPuff';
            font-size: 80px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            
            @media (max-width: 1200px) {
                max-width: 530px;
            }
                      
            
            @media (max-width: 768px) {                
                font-size: 48px;
                max-width: 330px;                                
                                        
            }         
        }
    }
}
        
    


    
        
            

        
      
    
        

