.section-meet-alex {
    position: relative;
    min-height: fit-content;
    background-color: #202020;
    overflow: hidden;


    &__banner-group3 {
        display: block;
        position: absolute;
        right: -140px;       
        top: calc(50% - 276px);

        @media (max-width: 1200px) {
            right: -276px;
        }

        @media (max-width: 768px) {
            height: 345px;
            right: -250px;
            top: calc(50% - 177px);
        }
    }

    &__banner {
        display: flex;
        min-height: 470px;
        height: max-content;

        .section-meet-alex__banner-content {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 40px;

            @media (max-width: 1200px) {
                max-width: 500px;
                width: 75%;
            }

            @media (max-width: 768px) {
                max-width: 342px;
                width: 90%;
            }


    
            .section-meet-alex__banner-title {
                color: #FAEB49;
                font-family: 'DynaPuff';
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                @media (max-width: 768px) {
                    font-size: 36px;
                }

            } 
            
            
    
            .section-meet-alex__banner-description {
                color: #FFF;
                font-family: 'Manrope';
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                @media (max-width: 768px) {
                    font-size: 15px;
                }

            }
    
            .section-meet-alex__banner-list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                 
                .section-meet-alex__banner-item {
                    color: #FFF;
                    font-family: 'Manrope';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;

                    @media (max-width: 768px) {
                        padding-right: 20px;
                    }

    
                    span {
                        display: block;
                        color: #FFF;
                        font-family: DynaPuff;
                        font-size: 48px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;

                        @media (max-width: 768px) {
                            font-size: 36px;                            
                        }

                    }
                }
    
            }        
    
        }
    }
   
} 