.section-banking {
    background-color: #3C3C3C;
    height: fit-content;
    padding: 86px 0;

    @media (max-width: 1200px) {
        padding: 52px 0 122px;
    }

    @media (max-width: 768px) {
        padding: 52px 0 85px;
    }

    .section-banking__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 680px 545px;
        column-gap: 40px;
        row-gap: 63px;
        
        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 680px 634px;
            row-gap: 102px;
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 488px 518px;
            row-gap: 63px;
        }
        

        .card:nth-child(1) {
            grid-row: 1/ 2;
            grid-column: 1 /4;

            @media (max-width: 1200px) {
                grid-column: 1 /3; 
            }

            @media (max-width: 768px) {
                grid-column: 1 /2;
            }
        }

        .card:nth-child(4) {
            @media (max-width: 1200px)  {        
                display: none;
                position: absolute;        
            }            
        }

        .card:nth-child(2) {
            @media (max-width: 768px) {
                display: none;
                position: absolute;
            }
        }
        

        .card {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            row-gap: 20px;           
            position: relative;
            padding: 20px;
            border-radius: 24px;
            border: 1px solid #000000;
            background-color: #FFFEF2;

            @media (max-width: 768px) {
                padding: 12px;
            }
            
            .card__img-wrapper {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #FFFEF2;
                min-height: 338px;
                
                
                @media (max-width: 1200px) {
                    min-height: 448px;
                }

                @media (max-width: 768px) {
                    min-height: 363px;                    
                }
                

                .card__btn {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    z-index: 1;                    
                    border-style: none;
                    height: 56px;
                    width: 56px;
                    cursor: pointer;
                }
    
                .card__image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    z-index: 1;
                    border-radius: 24px;    
                }
            }

            .card__img-wrapper--banner {
                min-height: 498px;

                @media (max-width: 768px) {
                    min-height: 278px;
                }
            }


            .card__content-box {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 22px;
                height: 148px;
                
                @media (max-width: 768px) {
                    height: 111px;
                }
            
                .card__title {
                    color: #565656;
                    font-family: 'DynaPuff';
                    font-size: 23px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
    
                    @media (max-width: 768px) {
                        font-size: 20px;
                    }
                }
    
                .card__title--banner {
                    font-size: 40px;
                    font-weight: 600;
    
                    @media (max-width: 768px) {
                        font-size: 24px;
                        width: 240px;
                    }
    
                }
    
                .card__description {
                    color: #000;
                    font-family: 'Manrope';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    
                    @media (max-width: 1200px) {
                        font-size: 14px;
                    }
    
                }
                
                .card__description--banner {
                    font-weight: 700;
                    width: 580px;
    
                    @media (max-width: 768px) {
                        width: fit-content;
                    }
                }
              
            }            
            
            
            

        }      
    }    
}