.section-graphics {
    background-color: #202020;
    height: fit-content;
    padding: 82px 0 138px;

    @media (max-width: 1200px) {
        padding: 82px 0 129px;
    }

    @media (max-width: 768px) {
        padding: 58px 0 93px
    }
}


.section-graphics__title {
    color: #FFF;
    font-family: 'DynaPuff';
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 38px;

    @media (max-width: 768px) {
        font-size: 36px;
        margin-bottom: 28px;
    }
}

.section-graphics__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 414px;
    row-gap: 26px;
    column-gap: 26px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 325px;
        row-gap: 20px;
    }

    .section-graphics__banner-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        height: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            z-index: 1;
            border-radius: 40px;
            filter: grayscale(1);
        }
    }
}

.section-graphics__banner-wrapper:nth-child(1) {
    grid-row: 1/ 2;
    grid-column: 1 /3;

    @media (max-width: 768px) {
        grid-row: 1/ 2;
        grid-column: 1 /2;
    }
}

.section-graphics__banner-wrapper--softstar {
    position: relative;
}

.section-graphics__banner-wrapper--softstar::before {
    content: url('../../images/Figures/Soft\ Star.png');
    position: absolute;
    display: block;    
    background-color: transparent;
    z-index: 2;
    object-position: center;

    @media (max-width: 1200px) {      
        transform: scale(0.85); 
    }

    @media (max-width: 768px) {
        transform: scale(0.64);         
    }
}

.section-graphics__banner-wrapper--butterfly {
    position: relative;
}

.section-graphics__banner-wrapper--butterfly::before {
    content: url('../../images/Figures/Butterfly.png');
    position: absolute;
    display: block;
    background-color: transparent;
    z-index: 2;
    object-position: center;

    @media (max-width: 1200px) {
        transform: scale(0.85);         
    }

    @media (max-width: 768px) {
        transform: scale(0.64);         
    }
}

.section-graphics__banner-wrapper--asterisk {
    position: relative;
}

.section-graphics__banner-wrapper--asterisk::before {
    content: url('../../images/Figures/Asterisk\ 1.png');
    position: absolute;
    display: block;    
    background-color: transparent;
    z-index: 2;
    object-position: center;

    @media (max-width: 1200px) {
        transform: scale(0.85);   
    }

    @media (max-width: 768px) {
        transform: scale(0.64);        
    }
}


