.section-good {
    background-image: url('../../images/Rectangle\ 8.jpg');
    height: fit-content;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.section-good__bg-mask {
    height: 800px;
    background-color: rgb(60, 60, 60, 0.5);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.section-good__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.section-good__title {
    color: #FFF;    
    font-family: 'DynaPuff';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 1059px;
    text-align: center;

    @media (max-width: 1200px) {
        width: 704px;
    }

    @media (max-width: 768px) {
        width: 343px;
        font-size: 24px;
    }

}

