.footer {
    background-color: #202020;
    height: fit-content;
}

.footer__content {
    padding: 78px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 163px;
    height: fit-content;

    @media (max-width: 1200px) {
        padding: 96px 0 35px;
        row-gap: 60px;
    }

    @media (max-width: 768px) {
        padding: 53px 0 40px;
        row-gap: 113px;
    }
}

.footer__title-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 42px 137px;
    min-width: 914px;
    border: 1px solid #F2F2F2;
    border-radius: 139px;


    @media (max-width: 1200px) {
        min-width: 714px;
        height: 150px;
        padding: 20px 10px;
    }

    @media (max-width: 768px) {
        min-width: 290px;
        height: 72px;
        padding: 0;
        gap: 10px;
    }

    .footer__title-box-dawn {

        @media (max-width: 768px) {
            height: 50px;
            width: 50px;
        }
    }


    .footer__title-box-description {
        display: flex;
        flex-direction:  column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 17px;
        height: fit-content;        

        h3 {
            color: #FFF;
            font-family: 'DynaPuff';
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            @media (max-width: 768px) {
                font-size: 20px;
            }    
        }
        
        .footer__book-a-call-action {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 24px;
        }
        
        .footer__book-a-call-action-span {
            display: block;
            position: relative;
            color: #FFF;
            text-align: center;
            font-family: 'Manrope';
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            @media (max-width: 768px) {
                font-size: 12px;
            }            
        }
    
        .footer__book-a-call-action-group2 {
            display: block;

            @media (max-width: 768px) {
                height: 15px;
                width: 32px;
            }
        }

    }

}

.footer__social-copyright-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
    height: fit-content;
    min-height: 60px;


    .footer__social-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        column-gap: 34px;


        .footer__social-logo {
            display: block;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px; 
        }

       
        .footer__social-logo--twitch {
            background-image: url('../../images/social/twitch\ 1.svg');
            
        }

        .footer__social-logo--twitter {            
            background-image: url('../../images/social/twitter\ 1.svg');
                    
        }

        .footer__social-logo--instagram {            
            background-image: url('../../images/social/instagram\ 1.svg');
                      
        }

        .footer__social-logo--linkedin {            
            background-image: url('../../images/social/linkedin\ 1.svg');
                     
        }
    }


    .footer__social-box-copyright {
                
        align-self: center;
        color: #FFF;
        text-align: center;
        font-family: 'Manrope';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;


        @media (max-width: 768px) {
            font-size: 14px;
        }
    } 



}