.header {
    display: block;
    width: 100vw;
    height: fit-content;
    position: fixed;
    z-index: 3;
    background-color: #00000000;
    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        min-height: 92px;


        &__logo {
            height: 56px;
            width: 56px;
        } 

    }
}
         
         
.header__menu-open-btn {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
    @media (max-width: 1200px) {
        display: block;
    }    

}
   
.header__menu {

    @media (max-width: 1200px) {
        display: none;
    }

    &-button {
        display: flex;
        gap: 20px; 
        max-width: 100%;
        max-height: 42px;
        width: max-content;
        justify-content: center;
        align-items: center;
        padding: 10px 16px;
        border-radius: 20px;
        border: 1px solid #FFF;  
        cursor: pointer;

        color: #FFF;
        font-family: 'Manrope';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;    
    }  


    &-list {
        display: flex;
        column-gap: 20px;            
    }
}
    
    
