
a {
    text-decoration: none;
}

.container {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
    
    
    @media (max-width: 1200px)  {        
        padding: 0 25px;        
    }


    @media (max-width: 768px)  {        
        padding: 0 5px;        
    }



}